<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książki</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/admin/books}">Biblioteka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/admin/books}">Biblioteka <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <span class="navbar-text">
      Navbar text with an inline element
    </span>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h1> List Books</h1>
    </div>
    <div class="row">
        <div class="col-Lg-3">
            <a th:href="@{/admin/books/new}" class="btn btn-primary btn-sm mb-3">Dodaj książkę</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Gatunek</th>
            <th>Data wydania</th>
            <th>ISBN</th>
            <th>Liczba Stron</th>
            <th>Typ okładki</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "book : ${books}">
            <td th:text="${book.getBookId()}">Id</td>
            <td th:text="${book.getTitle()}">Tytuł</td>
            <td><span th:each="author : ${book.getAuthors()}" th:text="' ' + ${author.getFirstName()} + ' ' + ${author.getLastName()} + ' '">Autor
            </span>
            </td>
            <td><span th:each="type : ${book.getTypes()}" th:text="' ' + ${type.getTypeName()}">Gatunek</span></td>
            <td th:text="${book.getReleaseDate()}">Data wydania</td>
            <td th:text="${book.getISBN()}">ISBN</td>
            <td th:text="${book.getPages()}">Liczba Stron</td>
            <td th:text="${book.getCoverType()}">Typ okładki</td>
            <td>
                <a th:href = "@{/admin/books/edit/{id}(id=${book.bookId})}" class = "btn btn-primary">Update</a>
                <a th:href = "@{/admin/books/delete/{id}(id=${book.bookId})}" class = "btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>